@use "sass:map";
@use "./global" as *;
@use "./blocks" as *;

main {
  font-family: "Jost", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: map.get($color, font);
}
