// カラー
$color: (
  font: #565956,
  main: #f2f4f1,
  green: #609484,
  gold: #948260,
  accent: #ee5a6d,
  hov-btn: #0060a0,

  // header-bg-pc: linear-gradient(to bottom, #00f, #80f, #000),
  // header-bg-sp: blue,
  // drawer-bg-sp: linear-gradient(to bottom, #00f, #80f, #000),
  // section-sub: rgb(255, 240, 228),
  // bg-dark: #4a4a4a,,,,,,,,,,,,,
);
:root {
  --Gray01: #565956;
  --White: #fff;
  --Gray02: #f2f4f1;
  --green: #609484;
  --gold: #948260;
  --accent: #ee5a6d;
  --hov-btn: #0060a0;
}
// 階層
$layer: (
  header: 100,
  header-nav: 90,
  header-mask: 80,
  footer: 50,
  default: 1,
  background: -1,
);

$header: (
  pc-height: 69.5px,
  sp-height: 48px,
);
