@use "sass:map";
@use "../global" as *;

.cta {
  background: url(../../img/CTA.png) no-repeat center / cover lightgray;
  text-align: center;
}
.cta__inner {
  max-width: 1440px;
  margin-inline: auto;
  padding: 48px 130px;
  height: 100%;
  @include mq(sp) {
    padding-inline: 16px;
  }
}
// 大文字・小文字のボックス
.cta__container {
  display: flex;
  padding: 56px 64px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  border-radius: 16px;
  background: var(--White, #fff);
  @include mq(sp) {
    padding-inline: 16px;
  }
}
// ボタン以外
.cta__contents {
  position: relative;
}

.cta__label--now {
  color: var(--White, #fff);
  @include font(16, 700, 24, 0.64);
  transform: rotate(-29.317deg);
  padding: 0px 16px;
  position: absolute;
  left: 23.005px;
  top: -30.015px;
  background: var(--Gray01, #565956);
}

.cta__message {
  @include font(24, 700, 36, 0.96);
}

.cta__message-l {
  margin-top: 8px;
  @include font(28, 700, 42, 1.12);
}

.cta__labels {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cta__label {
  width: 192px;
  padding-block: 16px;
  text-align: center;
  color: var(--White, #fff);
  @include font(16, 700, 24, 0.64);
  border-radius: 16px;
  background: var(--Gray01, #565956);
}

.cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37.05px;
}

.cta__button--step {
  padding: 15px 40px;
  background: var(--Gray03, #f2f4f1);
  @include font(20, 700, 30, 0.8);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 8px);
    width: 29px;
    height: 18px;
    // transform: rotate(89.832deg);
    background: url(../../img/cta-arrow.svg) no-repeat center / contain;
  }
}

.cta__button--cta {
  padding: 20px 24px;
  border-radius: 16px;
  background: linear-gradient(87deg, #698 2.32%, #689 96.4%);
  color: var(--White, #fff);
  @include font(20, 700, 30, 0.8);
}
