@use "sass:map";
@use "../global" as *;

.faq {
  padding-bottom: 87px;
}

.faq__container {
  margin-top: calc(32px + (64 - 32) * ((100vw - #{map.get($width, sp-comp)}px) / (map.get($width, pc-comp) - map.get($width, sp-comp))));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  @include mq(sp) {
    flex-direction: column;
    gap: 32px;
  }
}
