@use "sass:map";
@use "../global" as *;

.header {
  background: #fff;
  position: fixed;
  z-index: map.get($layer, header);
  top: 0;
  left: 0;
  width: 100%;
  // @include mq(pc) {
  //   height: map.get($header, pc-height);
  // }
  // height: map.get($header, sp-height);
}

.header__inner {
  max-width: 1440px;
  margin-inline: auto;
  padding: 12px 130px;
  // height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  img {
    width: 113px;
    height: 45.5px;
  }
}
// ---------------------
// ナビメニュー、ログイン、カートをまとめたボックス
// ---------------------

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav--menu {
}

.header__nav--link {
}

.header__nav--btn {
}

.header__nav--cart {
}

.visually-hidden {
}

.h-5 {
}

.w-5 {
}
