@use "sass:map";
@use "../global" as *;

.section {
  text-align: center;
  background: white;
  padding-block: 88px;
  @include mq(sp) {
    padding-block: 55px;
  }
}

.section__inner {
  max-width: 1440px;
  padding-inline: calc(30px + (130 - 30) * ((100vw - 768px) / (1440 - 768)));
  margin-inline: auto;
  height: 100%;
  @include mq(sp) {
    padding-inline: 16px;
  }
}
.section__title--ja {
  @include font(24, 700, 36, 0.96);
  padding-bottom: 17px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 160px;
    height: 1px;
    background: var(--Gray01, #565956);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.section__title--en {
  font-family: Jost;
  @include font(24, 600, 36, 0.96);
  margin-top: 16px;
}
